.search-container {
    display: flex;
    justify-content: center;
}

.button-row {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}

.left-column {
    flex: 0 0 8%; /* Set width of left column */
    padding: 20px;
    margin-right: auto;
}

.main-content {
    text-align: center;
    display:grid;
    justify-content: center;
    width:100%;
    padding-top: 10vh;
}

.search-fields{
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-button{
    width:100px;
    height:50px;
}

.posts{
    display:flex;
    flex-direction: column;
    max-width: 500px;
    width:100%;
}

.profile-post-container{
    text-align: center;
}

/* Style for filter options */
.left-column h3 {
    margin-bottom: 10px;
}

.text-search{
    padding-right: 50px;
    min-width:300px;
    display:flex;
    align-items: center;
}
.text-search input{
    width:100%;
    height:40px;
    border-radius: 3px;
}

.subject-selection{
    display:flex;
    justify-content: center;
    align-items: center;
    color:black;
}

.subject-selection h3{
    margin-right: 20px;
}


.custom-input {
    width: 100%;
    border-radius: 3px;
    padding: 10px;
    border: 1px solid #ccc;
    transition: border-color 0.3s ease, box-shadow 0.3s ease; /* Transition for border color and box shadow */
  }
  
  .custom-input:focus {
    outline: none;
    border-color: #0F6F00; /* Color change on focus */
    box-shadow: 0 0 5px rgba(102, 175, 233, 0.6); /* Optional: Adding a box-shadow on focus */
  }
  



  
/* Add additional styles as needed */