.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-btn {
    background-color: #ffffff;
    border: none;
    padding: 8px;
    cursor: pointer;
    width: 200px;
    text-align: left;
    border-color: black;
    border: 1px solid #000;
}

.dropdown-content {
    position: absolute;
    background-color: #fff;
    width: 200px; /* Adjust width as needed */
    max-height: 200px; /* Limit the height */
    overflow-y: auto; /* Add scrollbar when content overflows */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.dropdown-item {
    padding: 8px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
}

.dropdown-item:last-child {
    border-bottom: none;
}

.dropdown-item:hover {
    background-color: #f9f9f9;
}