.profile-form-container {
    max-width: 400px;
    min-height: 500px;
    max-height: 800px;
    margin-top: 20px;
    margin-left: auto;
    margin-right:auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
  }
  
  .profile-form-container form {
    display: flex;
    flex-direction: column;
  }
  
  .profile-form-container label {
    margin-bottom: 5px;
    margin-right: 5px;
  }
  
  .profile-form-container input[type="text"],
  .profile-form-container textarea {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .profile-form-container input[type="file"] {
    margin-bottom: 10px;
  }
  
  .profile-form-container img {
    margin-bottom: 10px;
    max-width: 100px;
    border-radius: 50%;
  }
  
  .profile-form-container button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .profile-form-container button:hover {
    background-color: #0056b3;
  }