
.login-button{
  width:450px;
  margin-top: 50px;
  height:60px;
  text-align: center;
}

.login-container {
  width: 55%;
  height: 700px;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
}

.title {
  /* position: absolute;
  top: 50%; */
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
  font-weight: bolder;
}

.greenblock {
  width: 45%;
  height: 700px;
  background-color: #008037;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

h2 {
  text-align: center;
  color: #333;
}

.login-container form {
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-container form input {
  /* width: 50%; */
  padding: 20px;
  margin: 10px 0;
  border: 1px solid green;
  border-radius: 6px;
}

.error {
  color:red;
}

/* .input-container {
  position: relative;
  border: 15px solid blue;
  width: 100px; 
} */

.custom-input {
  width: 100%; /* The input will take the full width of its container */
  max-width: 450px; /* Restrict the maximum width */
  height: 60px; /* Set the height of the input box */
  padding: 10px; /* Add padding inside the input box */
  margin-bottom: 15px; /* Space between inputs */
  border-radius: 1px; /* Rounded corners */
  font-size: 1rem; /* Font size for the text inside the input */
  box-sizing: border-box; /* Ensures padding and border don't affect width */
  border: 20px solid green;
}

.custom-input:focus {
  border-color: #4caf50; /* Highlight border on focus */
  outline: none; /* Remove default focus outline */
}

.text {
  width: 450px;
  text-align: left;
  font-size: 15px;
  font-weight: 100;
}

.logintext{
  width: 450px;
  text-align: left;
  margin-bottom: -5px;
  margin-top: 150px;
  font-size: 35px;
}

.undertext{
  width: 450px;
  text-align: left;
  font-size: 15px;
  color: grey;
  margin-bottom: 40px;
  font-weight: 100;
  font-family: Arial, Helvetica, sans-serif
}

.underbutton{
  text-align: center;
  font-weight: 50;
  font-family: Arial, Helvetica, sans-serif;
}