
.login-button{
  width:150px;
  height:50px;
}

.login-container {
  width: 80%;
  max-width: 800px;
  min-width: 200px;
  height: 80%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  margin-top: 50px;
}

h2 {
  text-align: center;
  color: #333;
}

.login-container form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-container form input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.error {
  color:red;
}

.input-container {
  position: relative;
  width: 300px; /* Adjust width as needed */
}

.custom-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  transition: border-color 0.3s ease, box-shadow 0.3s ease; /* Transition for border color and box shadow */
}

.custom-input:focus {
  outline: none;
  border-color: #0F6F00; /* Color change on focus */
  box-shadow: 0 0 5px rgba(102, 175, 233, 0.6); /* Optional: Adding a box-shadow on focus */
}
