
.signup-button{
  width:525px;
  margin-top: 25px;
  height:60px;
  text-align: center;
}
  
  .signup-container {
    width: 55%;
    height: 700px;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
  }
  
  h2 {
    text-align: center;
    color: #333;
  }
  
  .signup-container form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .signup-container form input{
    /* width: 100%; */
    padding: 20px;
    margin: 10px 0;
    border: 1px solid green;
    border-radius: 6px;
  }

  .undertext{
    width: 450px;
    text-align: left;
    font-size: 15px;
    color: grey;
    margin-bottom: 40px;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif
  }
  
  .error{
    color:red;
  }
  

.custom-input {
  width: 100%; /* The input will take the full width of its container */
  max-width: 450px; /* Restrict the maximum width */
  height: 60px; /* Set the height of the input box */
  padding: 10px; /* Add padding inside the input box */
  margin-bottom: 15px; /* Space between inputs */
  border-radius: 1px; /* Rounded corners */
  font-size: 1rem; /* Font size for the text inside the input */
  box-sizing: border-box; /* Ensures padding and border don't affect width */
  border: 20px solid green;
}

.custom-input:focus {
  outline: none;
  border-color: #0F6F00; /* Color change on focus */
  box-shadow: 0 0 5px rgba(102, 175, 233, 0.6); /* Optional: Adding a box-shadow on focus */
}

.greenblock {
  width: 45%;
  height: 700px;
  background-color: #008037;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.starttext{
  width: 525px;
  text-align: left;
  margin-bottom: -5px;
  margin-top: 75px;
  font-size: 35px;
}

.text {
  width: 450px;
  text-align: left;
  font-size: 15px;
  font-weight: 100;
}