.dropdown {
    position: relative;
    display: inline-block;

}

.dropdown-btn {
    background-color: #ffffff;
    color:black;
    border: none;
    padding: 8px;
    cursor: pointer;
    width: 200px;
    text-align: left;
    border-color: black;
    border: 2px solid #000;
    border-radius: 15px;
    transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease; /* Transition for color, background color, and border color */
}

.dropdown-btn:hover {
    background-color: #ffffff;
    border: none;
    padding: 8px;
    cursor: pointer;
    width: 200px;
    text-align: left;
    border-color: black;
    border: 2px solid #0f6f00;
    border-radius: 15px;
}

.dropdown-content {
    position: absolute;
    background-color: #fff;
    width: 200px; /* Adjust width as needed */
    max-height: 200px; /* Limit the height */
    overflow-y: auto; /* Add scrollbar when content overflows */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.dropdown-item {
    padding: 8px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
}

.dropdown-item:last-child {
    border-bottom: none;
}

.dropdown-item:hover {
    background-color: #f9f9f9;
}