.custom-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    transition: border-color 0.3s ease, box-shadow 0.3s ease; /* Transition for border color and box shadow */
  }
  
  .custom-input:focus {
    outline: none;
    border-color: #0F6F00; /* Color change on focus */
    box-shadow: 0 0 5px rgba(102, 175, 233, 0.6); /* Optional: Adding a box-shadow on focus */
  }
  