 
  .filter-toggle-button {
    display: flex;
    padding: 10px 20px;
    background-color: white;
    color: #0f6f00;
    border: 2px solid;
    border-color: #0f6f00;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 5px;
    width: 125px;
    height: 35px;
    justify-content: center;
    align-items: center;
    transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease; /* Transition for color, background color, and border color */
    margin: 0 10px; /* Add horizontal margin to create space between buttons */

  }

  .filter-toggle-button:hover {
    color: #fff; /* Text color change on hover */
    background-color: #16A200; /* Background color change on hover */
    border-color: #16A200; /* Border color change on hover */
  }

.filter-toggle-button.active {
    background-color: #16A200;
    color: #fff;
    border-color: #16A200;
  }

