.profile-post {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width:100%;
    border: 1px solid black;
}

.profile-picture-post img {
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    margin-bottom: 20px; /* Spaces the image from the text */
    border: 3px solid black;
}

.post-profile-info {
    flex: 1;
}
.post-profile-info h2{
    color: black;
}

.post-profile-name {
    font-size: 24px;
    margin-bottom: 10px;
    color: black;
}

.profile-description {
    font-size: 16px;
    color: black;
    margin-bottom: 10px;
}

.teaching-subjects {
    font-size: 14px;
    color: black;
}

.book-button {
    padding: 10px 20px;
    background-color: #ffffff;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


p {
    font-size: 12px;
  }
h2 p {
    color: #000000;
}