.time-slot {
    background-color: white;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
  }
  



.day-selector,
.time-slot-input,
.duration-input,
.button-container:focus {
  outline: none;
  border-color: #0F6F00; /* Color change on focus */
}


.day-selector label,
.time-slot-input label,
.duration-input label {
  margin-right: 10px;
}

.day-selector select,
.time-slot-input input,
.duration-input input {
  padding: 8px;
  font-size: 16px;
}