
/* 
.profile-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.profile-header {
    display: flex;
    align-items: center;
}

.profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
}

.profile-info {
    flex: 1;
}

.profile-info h2{
    color:#000000;
}

.profile-name {
    font-size: 24px;
    margin-bottom: 10px;
    color:#000000;
}

.profile-bio {
    font-size: 16px;
    color: #000000;
} */

.subject-post-div{
    max-width: 500px;
    max-height: 300px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.subject-posts-list{
    flex:1;
    display:grid;
    justify-content: center;
}



.booking{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bookings-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 500px;
    height: 400px;
    max-height: 400px; /* Set a max height for scrolling */
    overflow-y: auto; /* Enable vertical scrolling */
    background-color: white;
    margin: 0 auto; /* Center the container horizontally */
    border: 2px solid black; /* Add border to outline the container */
  }
  
  .booking-card {
    width: 250px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .booking-card h3{
    color:black;
  }
  
  .button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .button-container button {
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    transition: background-color 0.3s;
  }
  
  .button-container button:hover {
    background-color: #0056b3;
  }
.button-container .meeting-confirmed{
  color:rgb(0, 244, 0);
}
.button-container .meeting-denied{
  color:red;
}
